* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  // background: black;
  background: white;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#doggoCanvas {
  position: relative;
  width: 600px;
  height: 600px;
}

#parallaxCanvas {
  position: relative;
  width: 100%;
  height: 100%;
  border: 3px solid white;
}

#enemyCanvas {
  position: relative;
  width: 100%;
  height: 100%;
  border: 3px solid black;
}

#explosionCanvas {
  position: relative;
  width: 100%;
  height: 100%;
  border: 3px solid white;
}

#ravenCanvas {
  position: relative;
  width: 100%;
  height: 100%;
  border: 3px solid black;
}
